.advantages {
  padding: 0;
  margin: 0;

  .h3 {
    margin: 0 0 19px;
  }
}

.advantages__primary--align {
  max-width: 265px;
  margin: 0 auto;
}

.advantages__primary {
  display: flex;
  min-height: 191px;
  justify-content: center;
  align-items: center;
  background-color: $bg-lightblue;
  color: $tx-white;

  .h3 {
    color: $tx-white;
  }
}

.advantages__secondary--align {
  max-width: 246px;
  margin: 0 auto;
}

.advantages__secondary {
  background-color: $bg-grey;
  display: flex;
  min-height: 167px;
  justify-content: center;
  align-items: center;
}
@media (min-width: $tablet-width) {
  .advantages {
    .wrapp {
      display: flex;
      min-height: 256px;
    }

    .reverse {
      flex-direction: row-reverse;
    }
  }

  .advantages__primary {
    width: 33.333333%;
  }

  .advantages__image {
    width: 66.666666%;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-grey;
  }

  .advantages__secondary--align {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}