.booking {
  padding: 40px 0 50px;
}

.booking__title {
  padding: 0 20px 25px;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}

.booking__text {
  padding: 0 20px 35px;
  margin: 0;
  font-weight: 400;
}