.booking {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 287px;
  margin: 0 auto;

  .booking-info {
    max-width: 262px;
  }

  .text {
    line-height: 24px;
    margin-bottom: 37px;
  }

  .h2 {
    margin-bottom: 25px;
  }
}

@media (min-width: $tablet-width) {
  .booking {
    min-height: 318px;

    .booking-info {
      max-width: 434px;
    }
  }
}
