.button {
  font-size: 21px;
  color: $tx-white;
  background-color: $bg-lightblue;
  text-decoration: none;
  line-height: 58px;
  max-width: 280px;
  width: 100%;
  display: block;
  margin: 0 auto;
}
@media (min-width: $tablet-width) {
  .button {
    max-width: 458px;
  }
}