.page-main{
}

.page-main__title {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding: 40px 20px 30px 20px;
  margin: 0;
}

.page-main__intro{
  font-weight: 400;
  padding: 0 20px 30px 20px;
  margin: 0;
}
