.social__list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.social__item {
  list-style: none;
  padding: 3px;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}