.tips {
  list-style: none;
  margin: 0;
  padding: 40px 0 0;
}

.tips__title {
  font-size: 18px;
  line-height: 26px;
  padding: 0 20px 20px 70px;
  margin: 0;
  text-align: left;
}

.tips__text {
  line-height: 21px;
  font-weight: 400;
  padding: 0 20px 33px 70px;
  margin: 0;
  text-align: left;
}
